html{
    background: linear-gradient(white,rgb(155, 189, 200) );
    height: 100%;
}

/*Titre "To-Do List"*/

h1{
    text-align: center;
    width: 40%;
    border: 3px solid black;
    border-radius: 1.5rem;
    background: linear-gradient(to bottom right, rgb(24, 58, 74),rgb(186, 227, 223));
    color: rgb(255, 255, 255);
}
.titre{
    display: flex;
    justify-content: center;
}
/* Bouton d'ajout et d'affichage*/

.ajoutaffichage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.ajout{
    width: 130px;
    height: 20px;
    background-color: rgb(186, 227, 223);
    border-radius: 3rem;
    text-align: center;
    border: 0.1rem solid black;
    margin-left: 4rem;
}
.affichage {
    width: 250px;
    height: 20px;
    background-color: rgb(186, 227, 223);
    border-radius: 3rem;
    text-align: center;
    border: 0.1rem solid black;
    margin-right: 4rem;
}
/* Affichage des notes */

.affichagenote{
    margin: auto;
    width: 1400px;
    height: 600px;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.273);
    border: 0.1rem solid black;
}
.note{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    
}
.titrenote{
    background: linear-gradient( rgb(186, 227, 223),white);
    border: 0.1rem solid black;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    width: 95%;
    height: 4.5rem;
    padding-left: 0.5rem;
   
}
/* boutons fait / pas fait */
.bouton{
    margin-top: 1rem;
    margin-left: 1rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background: linear-gradient(rgb(200, 22, 22),rgb(160, 90, 90));
    
}
