@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
html{
    background: linear-gradient(to bottom right, rgb(5, 32, 76),rgb(97, 15, 148) );
    height: 100%;
    font-family: 'Comic Neue';
}

/*Titre "To-Do List"*/

h1{
    text-align: center;
    width: 40%;
    border: 3px solid black;
    border-radius: 1.5rem;
    background: linear-gradient(to bottom right, rgb(100, 4, 114),rgb(156, 36, 174));
    color: rgb(0, 0, 0);
}
.titre{
    display: flex;
    justify-content: center;
}
/* Bouton d'ajout et d'affichage*/

.ajoutaffichage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.ajout{
    width: 130px;
    height: 2rem;
    background-color: rgba(99, 4, 114, 0.751);
    border-radius: 3rem;
    text-align: center;
    border: 0.1rem solid black;
    margin-left: 4rem;
}
.affichage {
    width: 250px;
    height: 2rem;
    background-color: rgba(99, 4, 114, 0.751);
    border-radius: 3rem;
    text-align: center;
    border: 0.1rem solid black;
    margin-right: 4rem;
}
/* Affichage des notes */

.affichagenote{
    margin: auto;
    width: 850px;
    height: 500px;
    border-radius: 1rem;
    overflow-y: scroll;
    background: linear-gradient(rgba(255, 255, 255, 0.905),rgb(201, 202, 202) );
    border: 0.1rem solid black;
    margin-bottom: 2rem;
    
}
.note{
    display: flex;
    flex-direction: row;
    
    margin: auto;
    
}
.titrenote{
    background:linear-gradient(rgb(199, 199, 198), rgb(255, 252, 252));
    border: 0.1rem solid black;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    width: 95%;
    height: 4.5rem;
    padding-left: 1rem;
   
}
/* boutons fait / pas fait */
.checkboxround{
    width: 4.3em;
    height: 4.3em;
    background-color: white;
    border-radius: 50%;
    margin-top: -1.9rem;
    border: 2px solid #02010156;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;  
    margin-left: 44rem; 
}
.checkboxround:checked{
    background:linear-gradient(rgba(99, 4, 114, 0.751),rgba(133, 85, 141, 0.751));
}

.vert
{
    margin-top: 1rem;
    margin-left: 1rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background: linear-gradient(rgb(14, 120, 28),rgb(16, 142, 20));
    
}
/* Création du popup */

#popupoverlay{
    background-color: rgba(0, 0, 0, 0.086);
    border: 0.1rem solid black;
    border-radius: 1rem;
    width: 26rem;
    padding-left: 0.2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    display: none;
    margin-left: 3.5rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
   
}
#popupoverlay.open{
    display: block !important;
    background-color: rgba(255, 255, 255, 0.915);
    position: absolute;
    
}
textarea{
    width: 25rem;
}
.popupajout label input{
    margin-bottom: 0.5rem;
}
.popupajout button{
    margin-left: 5rem;
    padding-top: 0.2rem;
    border-radius: 2rem;
    
}
.buttonajout{
    background-color: rgba(0, 128, 0, 0.507);
}
.buttonannuler{
    background-color: rgba(165, 42, 42, 0.689);
}

/*hover sur les boutons affichages et ajout*/

.affichage:hover{
    background-color: rgba(60, 4, 97, 0.481);
}
.ajout:hover{
    background-color: rgba(60, 4, 97, 0.481);
}
/*isolement du block "todolist"*/

#todolist{
    display:block;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    max-height: 900px;
    margin: auto;
    margin-top: 5rem;
    background: linear-gradient(rgba(255, 255, 255, 0.905),rgb(201, 202, 202) );
    border: 0.1rem solid black;
    border-radius: 2rem;
}