h1{
    text-align: center;
    width: 40%;
    border: 3px solid black;
    border-radius: 1.5rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.titre{
    display: flex;
    justify-content: center;
}
.ajoutaffichage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.ajout{
    width: 130px;
    height: 20px;
    background-color: rgb(172, 169, 169);
    border-radius: 3rem;
    text-align: center;
    border: 0.1rem solid black;
    margin-left: 4rem;
}
.affichage {
    width: 250px;
    height: 20px;
    background-color: rgb(172, 169, 169);
    border-radius: 3rem;
    text-align: center;
    border: 0.1rem solid black;
    margin-right: 4rem;
}
.affichagenote{
    margin: auto;
    width: 1400px;
    height: 600px;
    overflow-y: scroll;
    background-color: rgb(255, 250, 250);
    border: 0.1rem solid black;
}
.note{
    background-color:rgb(172, 169, 169);
    border-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}